/* font for the page */

/* @font-face {
  font-family: "CROWNT";
  src: url("../font/CROWNT.TTF") format("truetype");
} */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.75em;
  color: #028f8d;
  overflow: hidden;
}

/* Styling the Answers */
ul {
  list-style-type: none;
}

/* scaling background image */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#instructions {
    height: 50%;
    border: 1px solid #028f8d;
    
}

/* buttons */
button {
  margin-top: .5em;
  background-color: #181818;
  color: #028f8d;
  border-radius: 8px;
  border: 2px solid #028f8d;
  width: 15%;
}

button:hover {
  color: #181818;
  background-color: #028f8d;
}

.option {
  width: 25%
}

#title{
  margin-bottom: 1em;
}

#timer{
  margin-top: 1em;
}
