/* font for the page */

@font-face {
  font-family: "CROWNT";
  src: url("../font/CROWNT.TTF") format("truetype");
}
body {
  font-family: "CROWNT", "Times New Roman", sans-serif;
  font-size: 2.25em;
}

/* Styling the Answers */
ul {
  list-style-type: none;
}
